asgiref
asttokens
attrs
backcall
beautifulsoup4
bleach
certifi
cffi
charset-normalizer
cryptography
decorator
defusedxml
Django
django-cors-headers
django-rest-framework
djangorestframework
djangorestframework_simplejwt
djoser
docopt
executing
fastjsonschema
idna
ipython
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
MarkupSafe
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
oauthlib
packaging
pandocfilters
parso
pexpect
pickleshare
pillow
pipreqs
platformdirs
prompt_toolkit
ptyprocess
pure_eval
pycparser
Pygments
PyJWT
python-dateutil
python-dotenv
python3-openid
pyzmq
referencing
requests
requests-oauthlib
rpds-py
six
social-auth-app-django
social-auth-core
soupsieve
sqlparse
stack-data
Strip
stripe
tinycss2
tornado
traitlets
typing_extensions
urllib3
wcwidth
webencodings
yarg
